<!DOCTYPE html>

<html ng-app='navigation'>

<head>
    <title>Driving Directions</title>
    <link rel="stylesheet" type="text/css" href="index.css"/>
    <script src="angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src='navigation.js'></script>
</head>


<body>
    <div ng-controller="DirectionsController as dirCtrl">
        <div class='searchbox'>
            <form ng-submit="dirCtrl.submitWaypoints()" novalidate>
                <input ng-model="dirCtrl.waypoints[0]" placeholder="current location" required autofocus>
                </input>
                <input ng-model="dirCtrl.waypoints[1]" placeholder="destination" required>
                </input>
                <button class="btn" type="submit" href=''>Give me directions!</button>
            </form>
        </div>

        <div class='directionslist' ng-show='dirCtrl.directions.length>0' class="manuevers">
            <table width="100%">
                <tr>
                    <th>Manuever</th>
                    <th>Miles</th>
                </tr>
                <tr ng-repeat='step in dirCtrl.directions track by $index'>
                    <td class='narrative'>{{step.narrative}}</td>
                    <td class='distance'>{{step.distance}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="footer">
        <p>Directions Courtesy of MapQuest; Map Data Copyright OpenStreetMap Contributors</p>
    </div>

</body>


</html>